.MyTable {
    display: none;
    
}

.MyTable__active {
    background-color: white;
    padding: 30px;
    border-collapse: collapse;

    thead{
        background-color: #f5f5f5;
        border: 1px solid lightgray;
        height: 50px;
    }
}


.MyTable__title {
    font-weight: 700;
    font-size: 20px;
    text-align: start;
    background-color: white;
    padding: 30px;
}
