.trainsListTable {
    display: flex;
    gap: 50px;
    position: relative;
}

.trainsListTable__button {
    cursor: pointer;
}

.trainsListTable__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}