.myControlledCell {
    border: none;
    padding: 5px 3px;
    text-align: center;
    outline: none;
    box-sizing: border-box;
}

.myControlledCell__error {
    border: none;
    color:red; 
    padding: 5px 3px;
    text-align: center;
    outline: none;
}